@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: calc(100% - 2em);
    margin: 0; 
    font-family: 'Montserrat';
}


body {
    background: rgb(219,21,208); 
    background: -moz-linear-gradient(-45deg,  rgba(219,21,208,1) 0%, rgba(55,43,206,1) 100%); 
    background: -webkit-linear-gradient(-45deg,  rgba(219,21,208,1) 0%,rgba(55,43,206,1) 100%); 
    background: linear-gradient(135deg,  rgba(219,21,208,1) 0%,rgba(55,43,206,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db15d0', endColorstr='#372bce',GradientType=1 ); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

aside {
    color: #ffffff;
    display: grid;
    grid-template-columns: auto 40px;
    padding: 2em;
}

img{
    width: 40px;
    cursor: pointer;

}

figure{
    margin: 0; 
}

figcaption{
    font-size: 1.3em;
    font-weight: bold;
}

nav{
    background: blueviolet;
}

.active{
    position: absolute;
    display: block;
    background: #ffffff;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
}

ul{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
    text-transform: lowercase;
    font-size: .9em;
    display: block;
    padding: 1.75em 3em;
    background-color: rgba(255,255,255.44);
    color: #000;
}

main {
    background: #ffffff;
    padding: 1em 1.4em;
}

h1 {
    margin:0; 
}

p{
    font-size: 1.1em;
    line-height: 1.5em;
}

.calltoaction {
    display: block;
    color: #ffffff;
    background: #7323D1;
    text-decoration: none;
    padding: 10px 50px;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
}


